<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <style>
      h3{
         color: blueviolet;
         background-color: rgb(199, 198, 202);width: 20%;
      
      }
   </style>
</head>
<body>
   

<div class="container">
   <div class="bind">
 <h3>INTERPOLATION </h3>
 Name: {{name | uppercase}}
   </div><br><hr>
   
 <div class="bind">
   <h3>PROPERTY BINDING</h3>
 <button class="btn btn-primary" [disabled]="!allowserverstatus">Hello</button>
 </div><br><hr>

 <div class="bind">
   <h3>EVENT BINDING</h3>
 <button class="btn btn-primary" [disabled]="!allowserverstatus" (click)="onCreateserver()">Animate!</button>
 <br>
 <p class="my-4">{{serverstatus}}</p>
 </div><br><hr>

 <div class="bind">
   <h3>PASSING & USING DATA WITH EVENT BINDING</h3>
 <input type="text" placeholder="Type here" (input)="onUpdateServer($event)">
 <p>That's my {{servername}}</p>
 </div><br><hr>

 <div class="bind">
   <h3>TWO WAY DATA BINDING</h3>
 <input type="text" placeholder="Type here" [(ngModel)]="servername">
 <p>That's my {{servername}}</p>
 </div>
 </div>
</body>
</html>